extends layout

block content
  h1.title #{title} "#{event.title}"
  p.subtitle #{event.day} #{event.hour}
    hr
  
    p Voulez-vous vraiment supprimer cet évenement
    
    form(method='POST' action='')
      div.form-group
        input#eventid.form-control(type='hidden',name='eventid', required='true', value=event._id )
      br
      button.button.is-danger(type='submit') Supprimer