extends layout

block content

  h1 #{title} "#{event.title}"
  p #{event.day} #{event.hour}
  
  div(style='margin-left:20px;margin-top:20px')

        hr
        p
            a(href=event.url+'/delete') Supprimer l'évenement

        p
            a(href=event.url+'/update') Modifier l'évenement

        