extends layout

block content

  h1= title
  ul
    each event in event_list
      li 
        a(href=event.url) #{event.day} #{event.hour} "#{event.title}"

    else
      li Il n'y a pas d'évenements



  